.logo img,
.logo h1 {
    left: 20px;
    top: 20px;
    width: 80px;
    font-size: 20px;
}

.swiper-slide.swiper-slide-next .slide-img {
    filter: blur(var(--next-blur));
    scale: var(--next-scale);
    transform: translateX(28%);
    opacity: 1;
}

/* heading */
.slide-content h2 {

    font-size: 22px;

}

/* paragraph */
.slide-content p {
    width: 90%;
    /* background-color: crimson; */
    font-size: 13px;

}

.slide-content p.expanded {
    -webkit-line-clamp: unset;
    max-height: 200px;
    /* ya jo height chahiye */
    overflow-y: auto;
}


/* price */
.slide-content .price {
    font-size: 22px;
    margin-block: 10px;
}

/* button center */
.slide-content button {
    width: 70%;
    text-align: start;
    font-size: 11px;
    justify-content: center;
}