/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;500;600;700&display=swap"); */

:root {
    --transition-duration: 1.5s;
    --transition-timing: ease;
    --base-scale: 0.5;
    --active-scale: 2;
    --next-scale: 1.6;
    --next-plus-scale: 0.9;
    --base-blur: 20px;
    --next-blur: 0px;
    --next-plus-blur: 10px;
    --blur-effect: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
main,
#root,
.mySwiper {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto Condensed", sans-serif;
}

.mySwiper {
    overflow: hidden;
}

.logo h1 {
    width: 100px;
    position: absolute;
    left: 75px;
    top: 50px;
}

/* Slide Base */
.swiper-slide {
   
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image */
.swiper-slide .slide-img {
    width: 300px;
    aspect-ratio: 1;
    filter: blur(var(--base-blur));
    transition: all var(--transition-duration) var(--transition-timing);
    scale: var(--base-scale);
    opacity: 1;
    transform: translate(50%) ;
    

    /* width: 300px;
        aspect-ratio: 1;
        filter: blur(20px);
        transition: all 1.5s ease;
        transform: translateX(50%) scale(0.5);
        position: relative;
        z-index: 2; */
        /* main image always on top */

}

.swiper-slide .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.swiper-slide .slide-img-blur {
    opacity: 0;
    position: absolute;
}

/* Active */
.swiper-slide.swiper-slide-active .slide-img {
    scale: var(--active-scale);
    transform: translateX(-60%);
    opacity: 0;
}

/* Next */
.swiper-slide.swiper-slide-next .slide-img {
    filter: blur(var(--next-blur));
    scale: var(--next-scale);
    transform: translateX(20%);
    opacity: 1;
}

.swiper-slide.swiper-slide-next .slide-img-blur {
    opacity: 0.5;
    filter: blur(var(--blur-effect));
    z-index: -1;
    transform: translateX(100%);
}

.swiper-slide.swiper-slide-next .slide-img-blur img {
    scale: var(--active-scale);
}

/* Next + 1 */
.swiper-slide.swiper-slide-next+.swiper-slide .slide-img {
    filter: blur(var(--next-plus-blur));
    scale: var(--next-plus-scale);
    opacity: 1;
}

.swiper-slide.swiper-slide-next {
    transform: translateX(50%);
}

.swiper-slide.swiper-slide-next+.swiper-slide {
    transform: translateX(30%);
    z-index: -1;
}

/* Content */
.swiper-slide .slide-content {
    position: absolute;
    opacity: 0;
    filter: blur(20px);
    transition: opacity var(--transition-duration) ease-in-out,
        filter var(--transition-duration) ease;
    width: 35vw;
}

.swiper-slide.swiper-slide-next .slide-content {
    transform: translateX(-80%);
    opacity: 1;
    filter: blur(0);
}

.slide-content h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

.slide-content p {
    width: 95%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    
    color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* sirf 3 line dikhegi */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* jab expand hoga */
.slide-content p.expanded {
    -webkit-line-clamp: unset;
}

.slide-content .price {
    font-size: 30px;
    margin-block: 20px;
    font-weight: 600;
    color: #959391;
}

.slide-content button {
    background: transparent;
    border: none;
    font-weight: 600;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.slide-content button svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


/* Tablet Responsive */
@media (max-width: 1024px) and (min-width: 768px) {

.logo img,
.logo h1{
left: 40px;
top: 30px;
}

/* image size reduce */
.swiper-slide .slide-img{
width: 220px;
}

.swiper-slide.swiper-slide-next .slide-img {
    filter: blur(var(--next-blur));
    scale: var(--next-scale);
    transform: translateX(40%);
    opacity: 1;
}

/* content position */
.swiper-slide.swiper-slide-next .slide-content{
transform: translateX(-70%);
}

/* text size */
.slide-content h2{
font-size: 28px;
}

.slide-content p{
width: 100%;
font-size: 13px;
}

.slide-content .price{
font-size: 24px;
}

/* button size */
.slide-content button{
font-size: 16px;
}

}

/* mobile screen responsive */
/* Mobile Responsive */
@media (max-width: 767px) {

    /* logo adjust */
    .logo img,
    .logo h1 {
        left: 20px;
        top: 20px;
        width: 80px;
        font-size: 20px;
    }

        .swiper-slide.swiper-slide-next .slide-img {
        filter: blur(var(--next-blur));
        scale: var(--next-scale);
        transform: translateX(28%);
        opacity: 1;  
    }

    /* heading */
    .slide-content h2 {
        font-size: 22px;

    }

    /* paragraph */
    .slide-content p {
        width: 90%;
        /* background-color: crimson; */
        font-size: 13px;
        
    }
        .slide-content p.expanded {
            -webkit-line-clamp: unset;
            max-height: 200px;
            /* ya jo height chahiye */
            overflow-y: auto;   }
    

    /* price */
    .slide-content .price {
        font-size: 22px;
        margin-block: 10px;
    }

    /* button center */
    .slide-content button {
        width:70%;
        text-align: start;
        font-size: 11px;
        justify-content: center;
    }

    

}