/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;500;600;700&display=swap"); */


:root {
    --transition-duration: 1.5s;
    --transition-timing: ease;
    --base-scale: 0.5;
    --active-scale: 2;
    --next-scale: 1.6;
    --next-plus-scale: 0.9;
    --base-blur: 20px;
    --next-blur: 0px;
    --next-plus-blur: 10px;
    --blur-effect: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body,
main,
#root,
.mySwiper {
    height: 100vh;
    width: 100vw;
    /* font-family:  sans-serif; */
    font-family: 'Agile-Regular',sans-serif;
}

.mySwiper {
    overflow: hidden;
}

.logo h1 {
    width: 100px;
    position: absolute;
    left: 75px;
    top: 50px;
}

/* Slide Base */
.swiper-slide {

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image */
.swiper-slide .slide-img {
    width: 300px;
    aspect-ratio: 1;
    filter: blur(var(--base-blur));
    transition: all var(--transition-duration) var(--transition-timing);
    scale: var(--base-scale);
    opacity: 1;
    transform: translate(50%);


    /* width: 300px;
        aspect-ratio: 1;
        filter: blur(20px);
        transition: all 1.5s ease;
        transform: translateX(50%) scale(0.5);
        position: relative;
        z-index: 2; */
    /* main image always on top */

}

.slide-content .category{
    font-weight: 400;
    font-size: medium;
}

.slide-content .desc{
    font-weight: bold  ;
}

.slide-content .cart-explore-btn{
    display: flex; 
    gap: 30px;
}

.slide-content .explore-btn {
    border: solid black 1px;
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
}

.slide-content .cart-btn {
    border: solid black 1px;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: white;
}

.slide-content .by-cat-div{
margin-bottom: 10px;
}


.swiper-slide .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 8px solid rgb(158, 129, 0);
        padding: 6px;
        background: #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        
}

.swiper-slide .slide-img-blur {
    opacity: 0;
    position: absolute;
}

/* Active */
.swiper-slide.swiper-slide-active .slide-img {
    scale: var(--active-scale);
    transform: translateX(-60%);
    opacity: 0;
}

/* Next */
.swiper-slide.swiper-slide-next .slide-img {
    filter: blur(var(--next-blur));
    scale: var(--next-scale);
    transform: translateX(20%);
    opacity: 1;
}

.swiper-slide.swiper-slide-next .slide-img-blur {
    opacity: 0.5;
    filter: blur(var(--blur-effect));
    z-index: -1;
    transform: translateX(100%);
}

.swiper-slide.swiper-slide-next .slide-img-blur img {
    scale: var(--active-scale);
}

/* Next + 1 */
.swiper-slide.swiper-slide-next+.swiper-slide .slide-img {
    filter: blur(var(--next-plus-blur));
    scale: var(--next-plus-scale);
    opacity: 1;
}

.swiper-slide.swiper-slide-next {
    transform: translateX(50%);
}

.swiper-slide.swiper-slide-next+.swiper-slide {
    transform: translateX(30%);
    z-index: -1;
}

/* Content */
.swiper-slide .slide-content {
    position: absolute;
    opacity: 0;
    filter: blur(20px);
    transition: opacity var(--transition-duration) ease-in-out,
        filter var(--transition-duration) ease;
    width: 35vw;
}

.swiper-slide.swiper-slide-next .slide-content {
    transform: translateX(-80%);
    opacity: 1;
    filter: blur(0);
}

.slide-content h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

.slide-content p {
    width: 95%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;

    color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* sirf 3 line dikhegi */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* jab expand hoga */
.slide-content p.expanded {
    -webkit-line-clamp: unset;
}

.slide-content .price {
    font-size: 30px;
    margin-block: 20px;
    font-weight: 600;
    color: #959391;
}

.slide-content button {
    background: transparent;
    border: none;
    font-weight: 600;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.slide-content button svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


/* Tablet Responsive */
@media (max-width: 1024px) and (min-width: 768px) {

    .logo img,
    .logo h1 {
        left: 40px;
        top: 30px;
    }

    /* image size reduce */
    .swiper-slide .slide-img {
        width: 220px;
    }

    .swiper-slide.swiper-slide-next .slide-img {
        filter: blur(var(--next-blur));
        scale: var(--next-scale);
        transform: translateX(40%);
        opacity: 1;
    }

    /* content position */
    .swiper-slide.swiper-slide-next .slide-content {
        transform: translateX(-70%);
    }

    /* text size */
    .slide-content h2 {
        font-size: 28px;
    }

    .slide-content p {
        width: 100%;
        font-size: 13px;
    }

    .slide-content .price {
        font-size: 24px;
    }

    /* button size */
    .slide-content button {
        font-size: 16px;
    }

}

/*-------------- mobile screen responsive---------------------*/


@media (max-width: 767px) {

    .swiper-slide .slide-img {
        width: 80%;
        scale: 1;
        transform: none;
        filter: none;
    }

    .swiper-slide.swiper-slide-active .slide-img {
        scale: 1;
        transform: none;
        opacity: 1;
    }

    .swiper-slide.swiper-slide-next .slide-img {
        scale: 1;
        transform: none;
        filter: none;
    }
}


@media (max-width: 767px) {

    .swiper-slide .slide-content {
        position: static;
        opacity: 1;
        filter: none;
        transform: none;
        width: 90%;
        text-align: center;
        margin-top: 20px;
    }

    .swiper-slide.swiper-slide-next .slide-content {
        transform: none;
        opacity: 1;
    }

    .swiper-slide {
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
}

@media (max-width: 767px) {

    .slide-img {
        order: 1;
        width: 75%;
        margin-top: 10px;
        
        
    }

    

    .slide-img-blur {
        display: none;
    }


    .slide-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: px;
        
    }

    .slide-content p {
        width: 90%;
        font-size: 16px;
        padding-left:px;
        margin-left: 16px;
        text-align: center;
        /* text-align:justify; */
        line-height: 18px;
        

    }

    .slide-content button {
        justify-content: center;  
    }
}

/* content see more btn handle kiya */
@media (max-width: 767px) {

    .slide-content p.expanded {
        -webkit-line-clamp: unset;
        max-height: 140px;
        overflow-y: auto;
        padding-right: 5px;
    }

    .slide-content p {
        touch-action: pan-y;
    }

    .slide-content .desc{
       font-weight: 600;
    }

    .slide-content .price{
        color: black;
    }

    .slide-content .cart-explore-btn{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .slide-content .explore-btn{
        border: solid black 1px;
        padding: 5px 10px;
        border-radius: 50px;
        margin-bottom: 10px;
        color: white;
        background-color: rgb(0, 0, 0);
    }
        .slide-content .cart-btn {
            border: solid black 1px;
            padding: 5px 10px;
            border-radius: 50px;
            margin-bottom: 10px;
            background-color: white;
        }

    .slide-content .category{
        font-weight: 300;
        font-size: medium;
    }
    .slide-content h2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 22px;
        font-weight:600;
    }

    .see-more-btn {
        display: block;
        margin: 10px auto;
        text-align: center;
    }

}

@media (max-width: 767px) {

    .swiper-slide .slide-img {
        width: 85%;
        transform: none;
        scale: 0.7;
        filter: blur(20px);
        opacity: 0.6;
        transition: all 1s ease;
    }

    /* active slide */
    .swiper-slide.swiper-slide-active .slide-img {
        scale: 1;
        filter: blur(0px);
        opacity: 1;
    }

    /* next slide */
    .swiper-slide.swiper-slide-next .slide-img {
        scale: 0.85;
        filter: blur(8px);
        opacity: 0.8;
    }

    /* blur background effect */
    .swiper-slide.swiper-slide-active .slide-img-blur {
        opacity: 0.4;
        filter: blur(50px);
        position: absolute;
        z-index: -1;
    }

}

@media (max-width: 767px) {

    /* base content state */
    .swiper-slide .slide-content {
        position: static;
        opacity: 0.4;
        filter: blur(10px);
        transform: scale(0.9);
        transition: all 0.8s ease;
        width: 90%;
        text-align: center;
        margin-top: 20px;
        
    }

    /* active slide content */
    .swiper-slide.swiper-slide-active .slide-content {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }

    /* next slide content */
    .swiper-slide.swiper-slide-next .slide-content {
        opacity: 0.7;
        filter: blur(4px);
        transform: scale(0.95);
    }

}

/* extra smooth effect */
@media (max-width: 767px) {

    /* base state */
    .swiper-slide .slide-content {
        position: static;
        width: 95%;
        text-align: center;
        margin-top: 20px;
        opacity: 0;
        filter: blur(15px);
        transform: translateY(60px);
        transition: all 0.8s ease;
        
    }

    /* active slide content */
    .swiper-slide.swiper-slide-active .slide-content {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }

    /* next slide content */
    .swiper-slide.swiper-slide-next .slide-content {
        opacity: 0.6;
        filter: blur(6px);
        transform: translateY(20px);
    }

    
}

